<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ site.Title }} | คลังความรู้กฎหมายการศึกษาไทยฉบับสมบูรณ์{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>
{{- with .Description }}
<meta name="description" content="{{ . }}">
{{- else }}
<meta name="description" content="{{ site.Params.description }}">
{{- end }}
<link rel="icon" href="{{ partial "iu.html" "assets/favicon.png" }}" type="image/png">
<link rel="apple-touch-icon" href="{{ partial "iu.html" "assets/favicon.png" }}">
<meta property="og:image" content="{{ partial "iu.html" "assets/feature-graphic.png" }}">
<link rel="stylesheet" href="{{ partial "iu.html" "css/style.css" }}">
<link rel="canonical" href="{{ .Permalink }}">
